@media (max-width:768px) {
  .main-section {
    flex-direction: column;
    gap: 20px;
    padding: 20px 20px;
  }

  .main-section .left {
    flex-direction: row;
    flex-wrap: wrap;
    order: 2;
  }

  .main-section .left .container {
    flex-grow: 1;
  }

  .location iframe {
    height: 400px;
  }

}

@media (max-width: 430px) {
  .banner h2 {
    font-size: 40px;
  }

  .contact-form {
    padding: 20px;
  }

  .main-section .right {
    padding: 0px;
  }
  .location h2{
    font-size: 32px;
    padding: 30px 0px;
  }
}

@media (max-width: 340px) {
   .location h2{
    font-size: 28px;
   }
}