* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
header {
display: flex;
align-items: center;
justify-content: space-between;
padding: 14px 40px;
background-color: var(--peach);
position: sticky;
top: 0;
border-bottom: 1px solid var(--brown);
z-index: 999;
}
.logo {
display: flex;
align-items: center;
justify-content: center;
gap: 6px;
}

.logo h2 {
font-weight: 500;
font-size: 30px;
}

.logo .E {
color: white;
background-color: var(--brown);
font-size: 20px;
height: 30px;
width: 30px;
border-radius: 50%;
text-align: center;
}
header .nav-menu ul {
display: flex;
align-items: center;
list-style-type: none;
gap: 20px;
font-weight: 600;
font-size: 18px;
}

header .nav-menu ul a{
  color: var(--brown);
  text-decoration: none;
}

header .nav-menu ul li{
  cursor: pointer;
}

.menu-toggle {
display: none; 
background: none;
border: none;
font-size: 30px;
cursor: pointer;
}


@media (max-width: 768px) {
header {
padding: 10px 20px;
}

.menu-toggle {
display: block;
color: var(--brown); 
}

.nav-menu {
position: absolute;
top: 58px; 
left: 0;
width: 100%;
background-color: var(--peach);
display: none;
z-index: 10;
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header .nav-menu ul {
flex-direction: column;
padding: 10px 0;
}

header .nav-menu ul li {
width: 100%;
padding: 10px 40px;
text-align: left;
cursor: pointer;
}

.nav-menu.open {
display: block;
}
}

@media (max-width:360px) {
  header h2{
    font-size: 22px !important;
  }
}

