@media (max-width:768px) {
  .banner {
    flex-wrap: wrap;
    padding: 10px 15px !important;
  }

  .stylists-section .lower {
    flex-wrap: wrap;
  }

  .collection-section {
    padding: 10px;
  }

  .collection-section .upper {
    text-align: center;
  }

  .collection-section .lower {
    flex-direction: column;
  }

  .collection-section .lower .container {
    width: 90%;
  }
}

@media (max-width: 430px) {
  .banner {
    padding: 10px;
  }

  .stylists-section {
    padding: 10px;
    gap: 15px;
  }

  .stylists-section .upper {
    text-align: center;
  }

  .stylists-section .upper h3,
  .collection-section .upper h3 {
    font-size: 26px;
  }

  .banner h2 {
    font-size: 40px !important;
    line-height: 1.1em;
  }

  .banner p {
    font-size: 16px !important;
  }
}

@media (max-width: 340px) {

  .banner h2 {
    font-size: 28px !important;
    line-height: 1.1em;
  }

  .banner p {
    font-size: 16px !important;
  }

  .banner .left .btns {
    flex-direction: column !important;
  }

  .banner .left .btns a {
    width: 100% !important;
  }

}